# five function of dictionary ----- clear function

In [4]:
dit = {"Name": "OSAMA", "Age": "22", "City":"Gaya"}

In [5]:
dit

{'Name': 'OSAMA', 'Age': '22', 'City': 'Gaya'}

In [6]:
dit.clear()

In [7]:
dit

{}

# update func

In [10]:
old = {'A': 'lets', 'B': 'for'}
updated ={'A':'lets', 'B': 'upgrade'}

In [11]:
old.update(updated)

In [12]:
old

{'A': 'lets', 'B': 'upgrade'}

# pop function

In [14]:
test = {"nitish": 67, "arshad": 78, "hadi": 56}

In [15]:
test.pop("hadi")

56

In [16]:
test

{'nitish': 67, 'arshad': 78}

# SET DEFAULT FUNCTION

In [18]:
animals = {"A": "parrot", "B": "cat"}

animals.setdefault("c")

In [19]:
animals

{'A': 'parrot', 'B': 'cat', 'c': None}

In [21]:
animals.setdefault("C", "DOG")

'DOG'

In [22]:
animals

{'A': 'parrot', 'B': 'cat', 'c': None, 'C': 'DOG'}

# value function

In [25]:
salary ={"aamir": 60000, "athar":89990, "vikram":90000}

In [26]:
salary.values()

dict_values([60000, 89990, 90000])