# Assignment 1 -  Day2                                                                                             Capitalize function

In [40]:
name = "osama"

name.capitalize()

'Osama'

In [33]:
name1 = "osama"
name2 = "rohail"
name3 = "rehan"

In [48]:
name1.capitalize() + " " + name2.capitalize() + " " + name3.capitalize()

'Osama Rohail Rehan'

# CASEFOLD

# lowercase using casefold()

In [49]:
string = "MYSELF OSAMA MASOOD"

In [50]:
string.casefold()

'myself osama masood'

In [58]:
firstname = "DER FLUSS"

In [59]:
firstname.casefold()

'der fluss'

# center function

In [60]:
name2 = "I AM FROM BIHAR"

In [64]:
name2.center(20)

'  I AM FROM BIHAR   '

In [66]:
#center method with fillchar '*'
name.center(20, "*")

'*******osama********'

# EXPAND TAB.

In [97]:
name3 = "current\tcity\tis\tnew\tdelhi"

name3.expandtabs(12)

'current     city        is          new         delhi'

In [98]:
name3.expandtabs(2)

'current city  is  new delhi'

In [99]:
name3.expandtabs(20)

'current             city                is                  new                 delhi'

# replace function

In [103]:
name4 = "letsupgrade for python letsupgrade for python"

In [104]:
name4.replace("letsupgrade" , "LetsUpgrade")

'LetsUpgrade for python LetsUpgrade for python'

In [105]:
name.replace("osama" , "rohail")

'rohail'